@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
	<h1>Fabricam Leads</h1>
	<p>Fabricam Leads is a sample app to show data concurrency and unit testing.</p>
	<p><a asp-controller="Lead" asp-action="Index" class="btn btn-primary btn-lg">Login to get a lead</a></p>
</div>

<div class="row">
    <div class="col-md-4">
	    <h2>Data Concurrency</h2>
	    <p>How to we ensure two users hitting the same page don't end up with the same record?  Look at dbo.LeadRetrieve</p>
    </div>
	<div class="col-md-4">
		<h2>Unit Testing</h2>
		<p>How do we validate the app works as expected?  Lots of unit tests prove each function works as expected.</p>
	</div>
	<div class="col-md-4">
		<h2>Run me</h2>
		<p>How do you get this sample to run?  Install <a href="https://store.docker.com/search?offering=community&type=edition" target="_blank">Docker CE</a>, then run:</p>
		<p><pre>docker-compose up</pre></p>
	</div>
</div>
