body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* avoid hitting edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.input-validation-error {
	border-left: 6px solid #a94442;
}

[v-cloak] {
	display: none;
}
