
@{
	ViewBag.Title = "JavaScript Tests";
}

@section Styles {
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/4.0.1/mocha.min.css" integrity="sha256-Flo6sV8k+IPfHh6Hx97ReUJDLOwIwvhdGlKOz3UgHRE=" crossorigin="anonymous" />
}

<h1>@ViewBag.Title</h1>

<div id="mocha"></div>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/4.0.1/mocha.min.js" integrity="sha256-Z6MpU7jOk7SVnM0n2wn91cSXpVZrK4fDC3I3TC+Et7I=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chai/4.1.2/chai.min.js" integrity="sha256-iP6sMGdjKeRM2DuED2Lsi/n7MNTKhGpkhuSdCHXIgYc=" crossorigin="anonymous"></script>
	<script>mocha.setup('bdd');</script>
	<script src="/js/leadService.js" asp-append-version="true"></script>
	<script src="/js/leadService.tests.js" asp-append-version="true"></script>
	<script>
		mocha.run();
	</script>
}
